main {
    height: 60vh;
}


label {
    display: block;
    margin-top: 1rem;

}

input {
    padding: 0.5em;
    border: 1px solid #ED661F;
    border-radius: 5px;
    width: 50%;
}

button {
    background-color: #ED661F;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  
  button:hover {
    color: #ED661F;
    background-color: #fff;
    border: 2px solid #ED661F;
  
  }
  